
    <%= content_for :title do%>
		每日一言-<%=@motto.content%>
	<%end%>
    <link rel="stylesheet" href="/css/mryy.css"/>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/js/jquery-fastclick.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="topBanner">
		<div class="bannerContent">
	        <div class="imgContent">
	            <img class="userImg" src="/img/icon.png">
	        </div>
	        <div class="userInfoContent">
	            <div class="tableWrapper">
	                <div class="username"></div>
	                <div class="shareDate">定制广告位招租，微信：@stormchaser</div>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="main">
        <div class="mainContent">
            <div class="imgWrapper">
                <img class="contentImg" src="<%=@motto.remote_image_url%>" alt="每日一言图片"/>
                <div class="contentWrapper">
                    <div class="txtContent">
                        <div class="dayInfo">
                            <div class="dayNumber"><%= @date.day%></div>
                            <div class="dayOther">
                                <div class="monthNum"><%= @date.strftime("%B")%></div>
                                <div class="weekNum"><%= @date.strftime("%A")%></div>
                            </div>
                        </div>
                        <div class="yyTxt"><%=@motto.content%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
	var window_height = parseInt($(window).height());
	var img_height = parseInt($('.contentImg').css("height"));
	var top_bar_height =  parseInt($('.topBanner').css("height"));
	var margin_top = img_height-(window_height-top_bar_height)
	$('.contentImg').css('margin-top',''+(-margin_top)+'px');
</script>
</html>